.botonesContador{
    display: flex;
    margin-left: 30%;
    align-items: center;
}

.botonChico{
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
}

.botonAgregar{
    background-color: rgb(17, 17, 20);
    color: white;
    margin-top: 10px;
    margin-left: 25%;
}

.contador{
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    margin: 0 10px;
}
@media screen and (min-width: 325px) and (max-width: 575px){
    .botonAgregar{
        margin-left: 20%;
    }
}
