.centrar{
    text-align: center;
}

.botonChico{
    /* display: inline-flex; */
    align-items: center;
    background-color: black;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
}

.botonAgregar{
    background-color: rgb(17, 17, 20);
    color: white;
    margin-top: 10px;
}

.contador{
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    margin: 0 10px;
}

